backend:
  container_name: ciids_backend
  build:
    context: ./backend
    dockerfile: Dockerfile
  env_file:
    - .env
  ports:
    - "5000:5000"
  volumes:
    - ./backend:/app
  depends_on:
    - db
  command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "5000", "--reload"]
